.container {
  position: relative;
  height: calc(100% - 105px);
  width: 200px;
  padding: 12px;
}

@media (max-width: 1200px) {
  .container {
    display: none;
  }
}

.list {
  position: fixed;
  top: 105px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #b9b9b9;
  text-align: left;
  width: 100%;
  transition: all 0.2s ease;
  line-height: 1.6;
}

.button:hover {
  color: #333;
}

.active {
  color: #ea5f20;
  font-weight: 600;
}
